{% extends "usuarios/base.html" %}

{% block head %}
    <style>
        .fade-out {
        opacity: 0;
        transition: opacity 1.0s ease-in-out;
        }
    
        .fade-in {
        opacity: 1;
        transition: opacity 1.0s ease-in-out;
        }
    </style>
    <script>
        setTimeout(function() {
            var toast = document.getElementById("mensagem-toast");
            if (toast) {
                toast.classList.remove("fade-in");
                toast.classList.add("fade-out");
    
                // Aguarda a animação terminar antes de remover
                setTimeout(function () {
                    toast.remove();
                }, 3000); // igual ao tempo do transition (3s)
            }
        }, 3000); // aparece por 3 segundos antes de começar o fade-out
    </script>

{% endblock head %}
{% block base %}

    {% if mensagem_erro %}

    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
        <div id="mensagem-toast" class="toast align-items-center text-bg-danger border-0 show fade-in" role="alert">
          <div class="d-flex">
            <div class="toast-body">
              {{ mensagem_erro }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Fechar"></button>
          </div>
        </div>
      </div>
    
    {% endif %}

    <div class="card p-4 shadow" style="width: 300px;">
        <h3 class="text-primary text-center mb-4" style="user-select: none;">Login</h3>

        <form action="{% url 'cadastro' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
            <input name="numero_cadastro" type="tel" class="form-control" placeholder="Digite um número" required pattern="[0-9]{1,}" maxlength="6" title="Somente números" inputmode="numeric">
            </div>
            <button type="submit" class="btn btn-primary w-100">Entrar</button>
        </form>
    </div>

{% endblock base %}